.container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}
.profile-container h1{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 4;
    margin-top: 80px;
    margin-bottom: 4;
}
.profile-info{
    align-items: center;
    font-size: 15px;
}
#OutData{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);
}